<div class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag "about_me_journey.jpg", width: '100%', alt: "about me image" %>
      </div>

      <div class="col-md-7">
        

        <p>After a decade of experience in the biotech industry working on various production and purification processes, I was eager to take on new challenges and learn innovative technologies.</p>

        <p>This desire led me on a journey into software development and has opened up a whole new world of opportunities to learn and grow as a full stack developer.</p>
        
        <p>
          <button
            class="btn btn-warning"
            type="button"
            data-toggle="collapse"      
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
                  >
            <strong>Job History</strong>
          </button>
          
          <button
            class="btn btn-warning"
            type="button"
            data-toggle="collapse"      
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
                  >
            <strong>Education</strong>
          </button>
          
          <button
            class="btn btn-warning"
            type="button"
            data-toggle="collapse"      
            data-target="#technology"
            aria-expanded="false"
            aria-controller="technology"
                  >
            <strong>Technology</strong>
          </button>
          
          <button
            class="btn btn-warning"
            type="button"
            data-toggle="collapse"      
            data-target="#tools"
            aria-expanded="false"
            aria-controller="tools"
                  >
            <strong>Skills</strong>
          </button>
        </p>
        
        <div>
          <!--   Job history info -->
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "akullianCreative.jpg", width: "100%", alt: "Akullian Creative" %>
                </div>
                <div class="col-md-9">
                  <strong>Akullian Creative Production Team</strong>
                   - Used creativity and communication to capture content for local businesses, a mini-documentary, and a reality pilot.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "Regeneron.png", width: "100%", alt: "Regeneron" %>
                </div>
                <div class="col-md-9">
                  <strong>Biotech Production Specialist</strong>
                   - Worked as a part of a cross-functional team to bring FDA approved medicines to the commercial market.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "westcrest.png", width: "100%", alt: "West Mtn" %>
                </div>
                <div class="col-md-9">
                  <strong>Snow Sports Coach</strong>
                   - Taught students of all ages how to snowboard and have fun at West Mountain.
                </div>
              </div>
            </div>
          </div>
          
<!--           Education info       -->
          <div class="collapse" id="education">
              <div class="card card-block">
                  <div class="row">
                    <div class="col-md-3">
                      <%= image_tag "cal.png", width: "100%", alt: "Berkeley" %>
                    </div>
                    <div class="col-md-9">
                      Built my first Rails apps while learning web development in the UC Berkeley Extension program.
                    </div>
                </div>
              </div>
              <div class="card card-block">
                  <div class="row">
                    <div class="col-md-3">
                      <%= image_tag "siena.png", width: "100%", alt: "Siena College" %>
                    </div>
                    <div class="col-md-9">
                      Graduated Cum Laude from Siena College with a BS in Chemistry.
                    </div>
                </div>
              </div>
              <div class="card card-block">
                <div class="row">
                  <div class="col-md-3">
                    <%= image_tag "sit.png", width: "100%", alt: "SIT" %>
                  </div>
                  <div class="col-md-9">
                    Earned a scholarship to immerse myself in Sprachinstitut Tübingen's intensive summer German language program.
                  </div>
              </div>
            </div>
          </div>
          
          <!--   Technology     -->
         
          <div class="collapse" id="technology">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-9">
                  <strong>Ruby on Rails</strong>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-9">
                  <strong>JavaScript</strong>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-9">
                  <strong>HTML</strong>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-9">
                  <strong>CSS</strong>
                </div>
              </div>
            </div>
         </div>
          
            <!--   Tools       -->
           
          <div class="collapse" id="tools">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-9">
                  <strong>Git and Github</strong>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-9">
                  <strong>Command Line Interface</strong>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-9">
                  <strong>Pivotal Tracker and Trello</strong> - Project Management
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-9">
                  <strong>Sketch</strong> - Wireframing
                </div>
              </div>
            </div>
         </div>
          
      </div>
    </div>
  </div>
</div>




